---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, METADATA } from "../consts";
import Filter from "../components/Filter.vue";
import usePosts from "../utils/usePosts";
import PostList from "../components/PostList.astro";

const posts = await usePosts();
/** Stores filtered posts that should be rendered */
let filteredPosts = posts;
/**
 * Accepts updated filtered posts from <Filter/>, rerender post items
 * accordingly
 * */
function updateFilteredPosts(newFilteredPosts) {
  console.log("Accepted newFilteredPosts");
  filteredPosts = newFilteredPosts;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Filter
        client:load
        posts={posts}
        metadata={METADATA}
        on:filter-results={updateFilteredPosts}
      />
      <PostList posts={filteredPosts} />
    </main>
    <Footer />
  </body>
</html>
